# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  git_repo:
    type: string
    description: URL to repo to clone and sync against.
  git_branch:
    type: string
    description: The git branch to check out.
    default: master
  git_rev:
    type: string
    description: The git revision (tag or hash) to check out
    default: HEAD
  git_depth:
    type: int
    description: >
      Cloning depth, to truncate commit history to the specified number of commits.
      Zero means no truncating.
    default: 1
  git_ssh_key:
    type: string
    description: >
      An optional SSH key to use to clone the repository.
  prometheus_alert_rules_path:
    type: string
    description: Relative path in repo to prometheus rules.
    default: "prometheus_alert_rules"
  loki_alert_rules_path:
    type: string
    description: Relative path in repo to loki rules.
    default: "loki_alert_rules"
  grafana_dashboards_path:
    type: string
    description: Relative path in repo to grafana dashboards.
    default: "grafana_dashboards"
