# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  git-sync::repo:
    type: string
    description: URL to repo to sync against
    default: ""
  git-sync::branch:
    type: string
    description: branch to sync
    default: main
  git-sync::wait:
    type: int
    description: git-sync wait interval between syncs (seconds).
    default: 60
  prometheus_relpath:
    type: string
    description: relative path in repo to prometheus rules
    default: ""
